@import "tailwindcss";

html,body{
    background: black;
    height: 100%;
    width: 100%;
}

#showcase {
    @apply relative;

    .media {
      @apply relative lg:overflow-hidden;

      video {
        @apply w-full object-cover object-center;
      }

      .mask {
        @apply absolute h-full top-0 lg:-top-20 xl:top-0;

        img {
          @apply h-full scale-150 lg:scale-100;
          transform: matrix(80, 0, 0, 80, 0, 0);
        }

        @media (max-width: 1024px) {
          img {
            transform: matrix(1, 0, 0, 1, 0, 0);
          }
        }
      }
    }

    .content {
      @apply relative z-10 my-5 lg:-mt-40 bg-black font-semibold text-xl  lg:opacity-0;

      .wrapper {
        @apply container mx-auto px-5 pb-20 2xl:px-0 flex flex-col lg:flex-row justify-center gap-20;
      }

      h2 {
        @apply font-semibold text-3xl lg:text-7xl text-white;
      }

      h3 {
        @apply font-semibold text-xl lg:text-5xl text-white;
      }
    }
  }
